@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* universal */
.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 30px;
}

:root {
    --orange: #FF5400;
    --black: #131318;
    --dark-2: rgba(66, 66, 71, 1);
    --charcoal-gray50: rgba(19, 19, 24, 0.5);
    --graphite-gray: #5A5A5D;
    --light-black: rgba(19, 19, 24, 0.7);
}

.btn-primary {
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: var(--orange);
    padding: 14px 35px;
    border: none;
    border-radius: 8px;
}

/* Navigation section style*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-brand-name>img {
    width: 48px;
    height: 56px;
}

.nav-title {
    font-size: 36px;
    font-weight: 800;
}

.nav-travel {
    color: var(--orange);
}

.burger {
    display: none;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    width: 100%;
    background-color: black;
    height: 3px;
}

.nav-list {
    display: flex;
    gap: 44px;
    font-size: 18px;
    list-style: none;
    column-rule: var(--dark-2);
}

#nav-home {
    color: var(--orange);
    font-weight: bold;
}

/* Header style */
.main-header {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.header-contents {
    margin: 106px 185px;
    text-align: center;
}

.header-title {
    color: white;
    font-size: 64px;
    font-weight: 800;
}

.header-para {
    color: white;
    line-height: 26px;
    margin-top: 24px;
}

.form {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 16px;
    margin-top: 48px;
}

.header-selection-where,
.header-selection-opt {
    font-size: 16px;
    color: var(--charcoal-gray50);
    background-color: white;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px 16px 16px 16px;
    width: 174px;
    height: 52px;

}

.header-selection-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 74px;
}

.header-selection-opt:nth-of-type(2) {
    gap: 35px;
}

.down-arrow {
    width: 18px;
    height: 18px;
}

.find-now {
    width: 174px;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
}

.search-icon {
    width: 20px;
    height: 18px;
    margin-right: 8px;
    filter: brightness(0) invert(1);
}

/* Popular tours style */
.popular-tours {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.popular-left {
    width: 577px;
}

.popular-tours-heading {
    font-size: 40px;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 24px;
}

.popular-tours-para1,
.popular-tours-list {
    color: var(--light-black);
    line-height: 26px;
}

.popular-tours-para1 {
    margin-bottom: 24px;
}

.popular-tours-list>li {
    margin-bottom: 16px;
    margin-left: 25px;
}

.popular-tours-para2 {
    margin-top: 8px;
    margin-bottom: 32px;
    line-height: 26px;
    color: var(--graphite-gray);
}

.popular-right>img {
    width: 100%;
}

/* Destination */
.destination {
    margin-top: 100px;
    justify-items: center;
}

.destination-description {
    max-width: 643px;
    height: 126px;
}

.destination-heading {
    font-size: 40px;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 24px;
    text-align: center;
}

.destination-para {
    color: var(--light-black);
    text-align: center;
    line-height: 26px;
}

.imgage-collage {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 50px;
}

.destination-image-row1,
.destination-image-row2,
.destination-image-row3 {
    display: flex;
    gap: 24px;
}

.destination-image {
    position: relative;
    width: 100%;
}

.destination-image>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 28px;
    font-weight: 800;
    color: white;
}

/* choose-us */
.choose-us {
    justify-items: center;
    margin-top: 100px;
}

.choose-us-description {
    text-align: center;
    max-width: 643px;
    max-height: 126px;
    margin-bottom: 48px;
}

.choose-us-heading {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.choose-us-para {
    color: var(--light-black);
    line-height: 26px;
}

.choose-us-main-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.choose-us-row1 {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.choose-us-row1>.choose-us-content:nth-last-of-type(1) {
    background-color: rgba(41, 206, 246, 0.2);
    border: 1px solid rgba(41, 206, 246, 0.2);
}

.choose-us-row1>.choose-us-content:nth-last-of-type(2) {
    background-color: rgba(251, 181, 99, 0.2);
    border: 1px solid rgba(251, 181, 99, 0.2);
}

.choose-us-content {
    background-color: rgba(233, 68, 68, 0.2);
    border: 1px solid rgba(233, 68, 68, 0.2);
    max-height: 284px;
    max-width: 573px;
    padding: 32px 65px 32px 24px;
    border-radius: 16px;
}

.choose-us-content-img {
    max-width: width 64px;
    max-height: 64px;
    margin-bottom: 32px;
}

.choose-us-content-heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 800;
    color: var(--black);
}

.choose-us-content-para {
    margin-top: 0;
    color: var(--graphite-gray);
    line-height: 26px;
}


/* deals and discount */
.deals-discount-section {
    margin-top: 100px;
}

.deals-discount {
    max-width: 643px;
    height: 126px;
    text-align: center;
    justify-self: center;
    margin-bottom: 48px;
}

.deals-discount-heading {
    font-size: 40px;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 24px;
}

.deals-discount-para {
    color: var(--light-black);
    line-height: 26px;
    margin-bottom: 48px;
}

.deal-discount-background {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.background-image-discount {
    width: 100%;
}

.deals-discount-contents {
    background-color: rgba(255, 255, 255, 0.8);
    width: 579px;
    height: 389px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
}

.deal-discount-background:nth-of-type(3) .deals-discount-contents {
    left: 55px;
    right: auto;
}

.discount-internal {
    max-width: 452px;
    max-height: 289px;
    margin: 50px 77px 50px 50px;
}

.deals-discount-ul {
    list-style: none;
    display: flex;
    gap: 24px;
    color: var(--graphite-gray);
    margin-bottom: 24px;
}

.deals-discount-ul>li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.deals-discount-content-heading {
    font-size: 24px;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 16px;
}

.deals-discount-content-para {
    line-height: 26px;
    color: var(--graphite-gray);
    margin-bottom: 16px;
}

.price {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
    color: var(--orange);
}

.see-all-packages {
    margin: 48px auto 0 auto;
    align-self: center;
    display: block;
}

/* get lost */
.get-lost {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.get-lost-left {
    max-width: 532px;
    height: 424px;
}
.get-lost-right > img{
    width: 100%;
}
.get-lost-heading {
    color: var(--black);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.get-lost-para {
    color: var(--graphite-gray);
    line-height: 26px;
    margin-bottom: 24px;
}

.get-lost-ul {
    margin-left: 25px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 32px;
}

.get-lost-ul>li:nth-child(1) {
    margin-bottom: 16px;
}

@media screen and (max-width: 640px) {
    body {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Navigation mobile style */
    .nav-title {
        font-size: 21px;
        font-weight: 800;
    }

    .nav-brand-name>img {
        width: 29px;
        height: 34px;
    }

    .nav-list {
        display: none;
    }

    .burger {
        display: flex;
    }

    /* header style */
    .header-contents {
        margin: 32px 16px;
        text-align: center;
    }

    .header-title {
        font-size: 22px;
    }

    .header-para {
        line-height: 21px;
        margin-top: 8px;
        font-size: 14px;
    }

    .form {
        flex-direction: column;
        margin-top: 32px;
        gap: 16px;
    }

    .header-selection-where,
    .header-selection-opt,
    .find-now {
        width: 100%;
    }

    /* Popular tours style */
    .popular-tours {
        flex-direction: column;
        margin-top: 24px;
        gap: 24px;
    }

    .popular-left {
        width: 100%;
    }

    .popular-tours-heading {
        font-size: 26px;
        margin-bottom: 16px;
    }

    .popular-tours-para1,
    .popular-tours-list {
        color: var(--light-black);
        line-height: 24px;
    }

    .popular-tours-para1 {
        margin-bottom: 16px;
    }

    .popular-tours-list>li {
        margin-bottom: 12px;
        margin-left: 25px;
    }

    .popular-tours-para2 {
        margin-bottom: 24px;
        line-height: 24px;
    }

    /* Destination */
    .destination {
        margin-top: 24px;
    }

    .destination-heading {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .destination-para {
        line-height: 24px;

    }

    .imgage-collage {
        gap: 16px;
        margin-top: 16px;
    }

    .destination-image-row1,
    .destination-image-row2,
    .destination-image-row3 {
        gap: 16px;
        flex-direction: column;
    }

    .destination-image {
        height: 176px;
    }

    .destination-image>img {
        height: 100%;
        width: 100%;
    }

    .destination-image>h2 {
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    /* choose us */

    .choose-us {
        justify-items: center;
        margin-top: 24px;
    }

    .choose-us-description {
        text-align: center;
        margin-bottom: 16px;
    }

    .choose-us-heading {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 16px;
    }

    .choose-us-para {
        color: var(--light-black);
        line-height: 24px;
        font-size: 14px;
    }

    .choose-us-main-section,
    .choose-us-row1 {
        flex-direction: column;
        gap: 16px;
    }

    .choose-us-content {
        padding: 32px;
    }

    .choose-us-content-img {
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
    }

    .choose-us-content-heading {
        margin-bottom: 16px;
        font-size: 20px;
    }

    .choose-us-content-para {
        line-height: 24px;
        font-size: 14px;
    }

    /* deals and discount */
    .deals-discount-section {
        margin-top: 24px;
    }

    .deals-discount {
        margin-bottom: 16px;
    }

    .deals-discount-heading {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .deals-discount-para {
        font-size: 14px;
        color: var(--light-black);
        line-height: 24px;
    }

    .deal-discount-background {
        width: 100%;
        position: relative;
        margin-bottom: 16px;
        height: 500px;
    }

    .background-image-discount {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;

    }

    .deals-discount-contents {
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        max-width: 303px;
        height: 297px;
        border-radius: 16px;
        position: absolute;
        top: auto;
        bottom: 16px;
        left: 16px;
        right: 16px;
        transform: none;
        margin: 0 auto;
    }

    .deal-discount-background:nth-of-type(3) .deals-discount-contents {
        top: auto;
        bottom: 16px;
        left: 16px;
        right: 16px;
        width: 100%;
        max-width: 303px;
        transform: none;
        margin: 0 auto;
    }

    .discount-internal {
        max-width: 255px;
        max-height: 249px;
        margin: 24px
    }

    .deals-discount-ul {
        flex-wrap: wrap;
        margin-bottom: 16px;
    }

    .deals-discount-content-heading {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .deals-discount-content-para {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .kladadkfj {
        display: none;
    }

    .price {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .see-all-packages {
        display: none;
    }

    .book-now-btn {
        font-size: 18px;
        font-weight: bold;
        padding: 8px 20px;
        width: 130px;
        height: 40px;
    }

    /* get lost */
    .get-lost {
        flex-direction: column;
        margin-top: 24px;
        gap: 24px;
    }

    .get-lost-left {
        max-width: 100%;
        height: auto;
    }

    .get-lost-heading {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .get-lost-para {
        line-height: 24px;
        margin-bottom: 16px;
        font-size: 14px;
    }

    .get-lost-ul {
        line-height: 24px;
        margin-bottom: 24px;
    }
    .get-lost-ul>li:nth-child(1) {
        margin-bottom: 16px;
    }

}